<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-container">
    <div class="w3-row-padding">
      
      <div class="w3-display-middle">
        <h2 class="w3-row-padding w3-center w3-text-white w3-xxxlarge  w3-animate-opacity">Hi, I'm Austin</h2>
        <h4 class="w3-row-padding w3-center w3-text-white w3-xlarge  w3-animate-opacity">I'm a front-end web developer</h4>
        
      </div>

      <div class="w3-row-padding w3-display-bottommiddle">
        <a href="#about" class="w3-padding-16">
          <h6 class="w3-green w3-hover-white w3-button w3-round-xxlarge w3-center w3-hover-text-green w3-animate-opacity" onclick="myFunction()">Find out more about what I do<br>
          <i class="fa fa-chevron-down"></i></h6>
        </a>
      </div>
      
    </div>
  </div>
</div>


<!-- Container (About Section) -->
<section id="about">
  <div class="w3-content about-wrap w3-container w3-padding-64">
    <h3 class="w3-center">ABOUT ME</h3>
  
    <div class="w3-row">
      
      <h2 class="w3-center w3-padding-32">From Marketing to Web Development</h2>
      
      <div class="w3-col m6 w3-center w3-padding-large">
        <img src="http://cs.pikabu.ru/images/big_size_comm/2013-10_6/1382863733900.jpg" class="w3-round w3-image" alt="Photo of Me" width="400" height="333">
      </div>
      
      <!-- Hide this text on small devices -->
      <div class="w3-col m6 w3-padding-large">
        <ul class="w3-padding">
          <li><p>Graduated May, 2016 earning a B.B.A. in Marketing Management</p></li>
          <li><p>Suffered a third knee surgery that kept me immobile a year</p></li>
          <li><p>Having time and a love for computers, I decided to build a website
                 for my favorite video game. I had no idea where to even begin</p></li>
          <li><p>I dedicated the majority of my study time focusing on learning HTML, CSS, and a little Ruby on Rails / JavaScript</p></li>
        </ul>
      </div>
      
    </div>
    <hr>
    
   
    
  </div>
</section>
  
<!-- (ASSETS Section) -->
<section class="str-bg">
    <div class="about-wrap w3-content w3-container w3-padding-64" id="strength" style="max-width: 1140px">
      
      <div class="w3-row w3-center w3-padding-64">
        <h2 class="w3-padding">My Assets</h2>
        <div class="minBarrier w3-hide-large">
        </div>
      </div>
      
      <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
      <div class="w3-third w3-padding col-md-4 w3-container w3-center">
        <i class="w3-green fa fa-group fa-4x"></i>
        <h3>Creativity</h3>
        <p class="barrier w3-padding">My experience in marketing and business
           allows me to handle difficult situations with a unique approach</p>
      </div>
    
      <div class="w3-third w3-padding col-md-4 w3-container w3-center">
        <i class="w3-green fa fa-automobile fa-4x"></i>
        <h3>Passion</h3>
        <p class="barrier w3-padding">I was driven to learn and create a single website, but my love for web development
           was the reason I continue</p>
        <hr>
      </div>
      
      <div class="w3-third w3-padding col-md-4 w3-container w3-center">
        <i class="w3-green fa fa-code fa-4x"></i>
        <h3>Code</h3>
        <p class="barrier w3-padding">My aim is to create modern and responsive designs using HTML, CSS,
        and some Javascript</p>
        <hr>
      </div>
    
    </div>

</section>

  
<!--// SAMPLE WEBSITE SECTION-->
<section class="work-bg">
  <div class="container">
    
    <div class="work-bg w3-row w3-padding" id="portfolio">
      <br>
      <h1 class="workContainer w3-center w3-padding-64">My Work</h1>
    </div>

      <!-- Container (About Section) -->
      <div class="workContainer container work-bg " style="width:100%">
        <div class=" w3-content w3-container w3-padding-32" style="max-width: 1140px">
          
          <div class="w3-half col-md-6 w3-container w3-center">
            <h3>My Sample Site</h3>
              <p>Building this sample site provided the perfect opportunity to create a site from scratch.</p>
              <br>
              <p>On one hand this gave me a much better understanding of the problems that
                 arise when creating a website from scratch, and how to solve them.</p>
              <p>On the other hand... I really enjoyed using available open source code 
                 to save myself time and frustration while building this portfolio.
          </div>
      
          <div class="w3-half col-md-6 w3-container w3-center">
            <img src="http://puu.sh/wI5V2/90f7d9ccf3.jpg" alt="Sample Site">
          </div>
            
          <div class="visitSites col-md-12 w3-container w3-center">
            <button class="btnStuff w3-btn w3-green w3-hover-white w3-hover-text-green w3-round-xxlarge"><a href="https://fierce-reef-35408.herokuapp.com/">Visit Site</a></button>
          </div>
      
        </div>
      </div>

  <!--// DEVMATCH SECTION-->
  <div class="work-bg container" style="width:100%">
    <div class="about-wrap w3-content w3-container w3-padding-64" style="max-width: 1140px">
      <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
      <div class="w3-half col-md-6 w3-container w3-center">
        <h3>DevMatch</h3>
          <p class="w3-padding">Creating DevMatch was done watching an instructor led course. It's a fictional
          start-up company, and the web application is built using Ruby on Rails, JavaScript,
          jQuery, HTML & CSS.</p>
          <p class="w3-padding">It is intended to connect developers, entrepreneurs,
          and investors. The community aspect should help everyone accomplish their goals.</p>
          <p class="w3-padding">It isn't the prettiest, but it gave me a much
          better handle on Ruby on Rails, GitHub, Sass, and how to use gems
          to save users, login & logout, and e-commerce.</p>
      </div>
        
        <div class="w3-half col-md-6 w3-container w3-center">
          <img src="https://raw.githubusercontent.com/jennifertran/DevMatch/master/public/screenshot1.png" alt="DevMatch">
        </div>
        
        <div class="visitSites col-md-12 w3-container w3-center">
          <button class="btnStuff w3-btn w3-green w3-hover-white w3-hover-text-green w3-round-xxlarge"><a href="https://floating-reef-66397.herokuapp.com/">Visit Site</a></button>
          
        </div>
        
      </div>
    </div>
  
  </div>
</section>


  <!-- Third Parallax Image with Portfolio Text -->
  <div class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
      <h3 class="w3-xxlarge w3-text-white w3-wide w3-center">Get In Touch</h3>
    </div>
  </div>
  
  
<section>
  <div class="container resumeMain w3-animate-zoom">
    <div class="about-wrap w3-content w3-container w3-padding-64" id="resume" style="max-width: 1140px">
      
      <div class="w3-row w3-padding-32">
        <h2 class="w3-center">Austin Hoyt</h2>
        <h5>3793 Douglass Ave, Memphis, TN 38111</h5>
        <h5 class="w3-left">AHoytDeveloper@gmail.com</h5>
        <h5 class="w3-right">Phone - 901-336-0585</h5>
      </div>  
    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
      <div class="w3-twothird w3-container">
        <h3 class="barrier w3-padding"><i class="fa fa-gift"></i><strong>Experience</strong></h3>
        <br>
        <h5 class="w3-center"><strong>Web Development</strong></h5>
        <br>
        <ul>
          <li><p>Built a rails application that supports e-commerce following an instructor.
          The app allows users to sign up for free or pay monthly and 
          automatically get billed via recurring charges.</p></li>
            
          <li><p>Learned how to use valuable resources such as Bootstrap, Github,
          jQuery, Rails, gems, as well as how to deploy to live servers.</p></li>
        </ul>
        <br>
        <br>
        <h5 class="w3-center"><strong>Job Experience</strong></h5>
        <br>
        <h6>Cedar Hall Wedding Venue</h6>
          <ul>
            <li><p>Involved with planning and execution of wedding ceremonies and reception</p></li>
            <li><p>Worked closely with wedding planners to ensure the bride, groom,
            and immediate family were highly satisfied</p></li>
          </ul>
          <br>
        <h6>Jim's Place Grille Restaurant</h6>
          <ul>
            <li><p>Delivered excellent customer service and ensured customers had a wonderful experience</p></li>
            <li><p>Became adept at multitasking in order to quickly prioritize
            and solve various problems in an efficient and effective manner</p></li>
          </ul>
          <br>
            
        <h6>Gentleman Orthopedic Solutions</h6>
        <ul>
          <li><p>Gained insight into the medical field and how surgery centers are supplied</p></li>
          <li><p>Had opportunity to prepare and deliver surgical tools to be used in
          surgery</p></li>
        </ul>
      </div>
        
      <div class="w3-third w3-container w3-right">
        <h3 class="barrier w3-padding"><i class="fa fa-university"></i><strong>Education</strong></h3>
        <ul>
          <li><h5 class="w3-padding-small">Bachelor of Business Administration: Marketing Management</h4></li>
          <li><h5 class="w3-padding-small">Upskill-The Essential Web Developer Course</h4></li>
          <li><h5 class="w3-padding-small">Lynda-Javascript Essential Training</h4></li>
          <li><h5 class="w3-padding-small">Lynda-Learning the JavaScript Language</h4></li>
          <li><h5 class="w3-text-green">These last two look really dumb, but I don't have any other exp.
                  Should I even list them?** </h4></li>
        </ul>
      </div>
      
      <div class="w3-third w3-container w3-padding">
        <h4 class="barrier w3-padding"><i class="fa fa-wrench"></i><strong>Skills</strong></h4>
        <ul>
          <li><p>HTML5, CSS3, Sass, Javascript, Bootstrap, GitHub, jQuery, Rails, * would like a few more *</p></li>
        </ul>
      </div>
  
    </div>
  </div>
</section>
  
<!-- Container (Contact Section) -->
<section>
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h4 class="w3-center">Looking For Work!</h4>
  <p class="w3-center"><em>I'd love your feedback</em></p>

  <div class="w3-row w3-section">
    <div class="w3-large w3-margin-bottom">
      <h5 class="w3-center">I am currently looking for either full-time employment or freelance work</h5>
      <h6 class="w3-center">Please feel free to send me a message below!</h6>
    </div>
  </div>
  
</section>



<section>
  <div class = "frame">
<div id = "button_open_envelope">
  <p class="w3-center">Email Me</p>
</div>
	<div class = "message">
	  <?php include('form_process.php'); ?>
		<form accept-charset="UTF-8" id="contact" action="<?= $_SERVER['PHP_SELF']; ?>" method="POST">
		  

			<input type="text" name="name" id="name" placeholder="Name*">

			
	
			<input type="text" name="email" id="email" placeholder="Email*">
	
			
	
			<input type="text" name="phone" id="phone" placeholder=" Phone (optional)" autofocus> 
		

			<textarea name="message" type="text" id="messarea" placeholder="Message*"></textarea>
	
			
	
			<input type="text" name="address" id="address" style="display: none;">
		
			
			
			<input type="submit" value="Send" id="send">
		
		</form>
		
	</div>
	
	<div class = "bottom"></div>			
	<div class = "left"></div>
	<div class = "right"></div>
	<div class = "top"></div>
	<script src="js/script.js"></script>
	
</div>


</section>


  
  
<!-- Footer -->
<footer class="w3-center w3-green w3-padding-64">
  <div class="w3-row w3-section">
    <div class="w3-large w3-margin-bottom">
      <p class="w3-center"><i class="fa fa-map-marker fa-fw w3-hover-text-green w3-xlarge"></i> Memphis, TN<br></p>
      <p class="w3-center"><i class="fa fa-phone fa-fw w3-hover-text-green w3-xlarge"></i> Phone: +901-336-0585<br></p>
      <p class="w3-center"><i class="fa fa-envelope w3-center fa-fw w3-hover-text-green w3-xlarge"></i> Email: AHoytDeveloper@gmail.com<br></p>
    </div>
  </div>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <a href="#home" class="w3-button w3-white w3-large"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>
 
