<div class="parallax"></div>

  
<div class="main-projects">
  <div class="main-projects-container">
    
    
     <article class="previous-work-entry">
       <div class="work-entry-bg">
         <div class="work-entry-content">
           <div class="work-entry-content-thumbnail">
             <a href="#">
               <img src="https://spark.adobe.com/page/LUExc/images/fd84ae59-b147-4979-8019-3c720d971a75.png?asset_id=bd715e2f-8802-48dd-8172-36ac35dcdff5&img_etag=886f44f9d4e70f77b3e6e536c4eced3a&size=1024">
             </a>
           </div>
           <div class="past-work-head">
             <a href="#">
               <h2 class="text-center">UpSkill DevMatch</h2>
             </a>
           </div>
         </div>
       </div>
     </article>
     
     
    
     
     
  </div>
</div>


  
<div class="parallax"></div>
