
  
  <!-- First Parallax Image with Logo Text -->
  <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-container">
      <div class="w3-row-padding">
        
        <div class="w3-display-middle">
          <h2 class="w3-row-padding w3-center w3-text-white w3-xxxlarge  w3-animate-opacity">Hi, I'm Austin</h2>
          <div class=" w3-center w3-padding-16">
          <a href="#contact" class="w3-padding-16" style="font-family:'Montserrat">
            <button class="w3-green w3-hover-white w3-button w3-round-xxlarge w3-center w3-hover-text-green w3-animate-opacity" onclick="myFunction()">I'd love to work with you</button></a>
          </div>
        </div>

        <div class="w3-row-padding w3-display-bottommiddle">
          <a href="#about" class="w3-padding-16" style="font-family:'Montserrat">
            <h6 class="w3-green w3-hover-white w3-button w3-round-xxlarge w3-center w3-hover-text-green w3-animate-opacity" onclick="myFunction()">Find out more about what I can do<br>
            <i class="fa fa-chevron-down"></i></h6>
          </a>
        </div>
        
      </div>
    </div>
  </div>
  
  <!-- Container (About Section) -->
  <div class="container">
    <div class="about-wrap w3-content w3-container w3-padding-64" id="about" style="max-width: 1140px">
      
      <div class="w3-row w3-center w3-padding-64">
        <h2>My Assets</h2>
        <br>
        <hr>
      </div>
      
      <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
      <div class="w3-third col-md-4 w3-container w3-center">
        <i class="w3-green fa fa-group fa-4x"></i>
        <h3>Creativity</h3>
        <p>My experience in marketing and business
           allows me to handle difficult situations with a unique approach</p>
        <hr>
      </div>
    
      <div class="w3-third col-md-4 w3-container w3-center">
        <i class="w3-green fa fa-automobile fa-4x"></i>
        <h3>Passion</h3>
        <p>I was driven to learn and create a single website, but my love for web development
           was the reason I continue</p>
        <hr>
      </div>
      
      <div class="w3-third col-md-4 w3-container w3-center">
        <i class="w3-green fa fa-code fa-4x"></i>
        <h3>Code</h3>
        <p>My aim is to create modern and responsive designs using HTML, CSS,
           Ruby On Rails, and some Javascript</p>
        <hr>
      </div>
      
    </div>
  </div>

  
<!--// SAMPLE WEBSITE SECTION-->
<section class="work-bg">
<div class="container">
  
<div class="work-bg w3-row w3-padding" id="portfolio">
  <br>
<h1 class="workContainer w3-center w3-padding-64">My Work</h1>
</div>

<!-- Container (About Section) -->
<div class="workContainer container work-bg " style="width:100%">
  <div class=" w3-content w3-container w3-padding-32" id="about" style="max-width: 1140px">
    <div class="w3-half col-md-6 w3-container w3-center">
      <h3>My Sample Site</h3>
      <p>I wanted to make this site in order to test what I needed to improve on.
         I struggled at times, and tried to fix issues that weren't broken.</p>
      <br>
      <p>In the end this gave me a much better understanding of the problems that
        arise, and how to deal with them.</p>
      <br>
      <p>I created my sample site before I started this portfolio website. It served
        my need to create a website from scratch perfectly.</p>
    </div>

    <div class="w3-half col-md-6 w3-container w3-center">
      <img src="http://puu.sh/wxv44/660fa67994.jpg">
    </div>
      
    <div class="visitSites col-md-12 w3-container w3-center">
      <a href="https://fierce-reef-35408.herokuapp.com/">
        <button class="btnStuff w3-btn w3-green w3-hover-white w3-hover-text-green w3-round-xxlarge">Visit Site</button>
      </a>
    </div>
      
  </div>
</div>

<!--// DEVMATCH WEB SECTION-->
<!-- Container (About Section) -->
<div class="work-bg container" style="width:100%">
  <div class="about-wrap w3-content w3-container w3-padding-64" id="about" style="max-width: 1140px">
    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="w3-half col-md-6 w3-container w3-center">
      <h3>DevMatch</h3>
      <p class="w3-padding">Creating DevMatch was done watching an instructor led course. It's a fictional
      start-up company, and the web application is built using Ruby on Rails, JavaScript,
      jQuery, HTML & CSS.</p>
      <p class="w3-padding">It is intended to connect developers, entrepreneurs,
      and investors. The community is for those in need and should help
      everyone accomplish their goals.</p>
      <p class="w3-padding">It isn't the prettiest, but it gave me a much
      better handle on Ruby on Rails, how to use GitHub, and how to use gems
      to save users, login & logout, and e-commerce.</p>
      </div>
      
      <div class="w3-half col-md-6 w3-container w3-center">
        <img src="https://raw.githubusercontent.com/jennifertran/DevMatch/master/public/screenshot1.png">
      </div>
      
      <div class="visitSites col-md-12 w3-container w3-center">
        <a href="https://floating-reef-66397.herokuapp.com/">
        <button class="btnStuff w3-btn w3-green w3-hover-white w3-hover-text-green w3-round-xxlarge">Visit Site</button>
        </a>
      </div>
      
    </div>
  </div>
  
  </div>
</section>

<!-- Container (About2 Section) -->
  <!-- Container (About Section) -->
<section>
  <div class="w3-content about-wrap w3-container w3-padding-64" id="about">
    <h3 class="w3-center">ABOUT ME</h3>
  
    <div class="w3-row">
      <h2 class="w3-center w3-padding-32">From Marketing to Web Development</h2>
      <div class="w3-col m6 w3-center w3-padding-large">
        <img src="http://cs.pikabu.ru/images/big_size_comm/2013-10_6/1382863733900.jpg" class="w3-round w3-image " alt="Photo of Me" width="400" height="333">
      </div>
      
      <!-- Hide this text on small devices -->
      <div class="w3-col m6 w3-padding-large">
        <ul class="w3-padding">
          <li><p>Graduated May, 2016 earning a B.B.A in Marketing Management</p></li>
          <li><p>Suffered a third knee surgery that kept me immobile a year</p></li>
          <li><p>Having time and a love for computers, I decided to build a website
                 for my favorite video game. I had no idea where to even begin</p></li>
          <li><p>This was the start of my journey to learn web development</p></li>
          <li><p>I dedicated the majority of my time focusing on learning HTML, CSS, and a little Ruby on Rails and JavaScript</p></li>
        </ul>
      </div>
    </div>
    <hr>
    
    <p class="w3-large w3-center w3-padding-32">What I enjoy in my free time:</p>
    
    <p class="w3-wide w3-center w3-padding"><i class="fa fa-beer"></i>Friends and family</p>
      <div class="w3-container w3-padding-small w3-blue w3-padding-16" style="width:100%">10/10</div>
   
    <p class="w3-wide w3-center w3-padding"><i class="fa fa-television"></i>Video games</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-green w3-padding-16" style="width:80%">8/10</div>
    </div>
    
    <p class="w3-wide w3-center w3-padding"><i class="fa fa-paw"></i>Exercising with my dog<br><span class="w3-hide-small w3-small">She attempts to chase every single squirrel in sight.. so minus a few points</span></p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-yellow w3-padding-16" style="width:50%">5/10</div>
    </div>
    
  </div>
</section>


  <!-- Third Parallax Image with Portfolio Text -->
  <div class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
      <h3 class="w3-xxlarge w3-text-white w3-wide w3-center">Get In Touch</h3>
    </div>
  </div>
  
  <!-- Container (Contact Section) -->
  <div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center">Looking For Work!</h3>
    <p class="w3-center"><em>I'd love your feedback</em></p>
  
    <div class="w3-row w3-padding-32 w3-section">
      
   
      

        <div class="w3-large w3-margin-bottom">
          <p class="w3-center"><i class="fa fa-map-marker fa-fw w3-hover-text-green w3-xlarge"></i> Memphis, TN<br></p>
          <p class="w3-center"><i class="fa fa-phone fa-fw w3-hover-text-green w3-xlarge"></i> Phone: +901-336-0585<br></p>
          <p class="w3-center"><i class="fa fa-envelope w3-center fa-fw w3-hover-text-green w3-xlarge"></i> Email: AHoytDeveloper@gmail.com<br></p>
          <h4 class="w3-padding-64 w3-center">I am currently looking for either full-time employment or freelance work</h4>
        </div>
        
 
      
    </div>
    
  </div>
  
  <!-- Footer -->
  <footer class="w3-center w3-green w3-padding-64">
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <a href="#home" class="w3-button w3-white w3-large"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  </footer>
 
<!-- Add Google Maps -->
<script>
function myMap()
{
  myCenter=new google.maps.LatLng(35.115600, -89.941954);
  var mapOptions= {
    center:myCenter,
    zoom:10, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFkBgDZ9RFbJv6HAwsm2Vs_VyJqU7W_cM&callback=myMap"></script>